.history-customer {}

.history-customer .status ul {
    display: flex;
}

.history-customer .status ul li {
    padding: 0 30px;
    padding-left: 0;
}

.history-customer .time {
    font-size: 10px;
    color: #64748B;
}

.history_customer-item {
    border: 1px solid #f0f1f3;
    border-radius: 8px;
    box-shadow: 1px 0px 3px rgba(161, 157, 157, 0.5);
}

.item_top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.item_top::after {
    position: absolute;
    top: 100%;
    content: "";
    width: 100%;
    display: block;
    height: 0.5px;
    background-color: #b6becf;
}

.item_bot::before {
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    display: block;
    height: 0.5px;
    background-color: #b6becf;
}

.item_top h3 {
    font-size: 18px;
    padding: 10px 20px;
}

.item_mid {
    display: flex;
    align-items: center;
}

.item_mid .img {
    width: 120px;
}

.item_mid .img img {
    width: 100%;
}

.item_mid .info_Product {
    margin-left: 30px;

}

.item_mid .info_Product p:nth-child(1) {
    font-weight: bold;
}

.item_mid .info_Product p:nth-child(2) {
    color: #64748B;
}

.item_bot {
    display: flex;
    justify-content: space-between;
    position: relative;

}

.item_bot h3 {
    font-size: 18px;
    padding: 10px 20px;
}

.item_bot h3:nth-child(1) {
    color: #fa8c16;
}