* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: #f5f6fa;
    background-size: cover;
}

#wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-login {
    max-width: 400px;
    height: 100vh;
    background: #fff;
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 1px 0px 0px #475569;
}

.pnjimage {
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 40px;
}

.form-heading {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.form-heading,
.form p {
    margin-bottom: 1px;
}

.form-heading .p {
    font-size: 10px;
}

.form-group {
    margin-top: 15px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.form-input {
    outline: none;
    border: none;
    background: transparent;
    border-radius: 10px;
    width: 100%;
    flex-grow: 1;
    border: none;
    background-color: #e9eef5;
    border: 1px solid #333;
    padding: 10px;
}

.form-submit {
    background: transparent;
    border-radius: 7px;
    width: 100%;
    height: 40px;
    color: #fff;
    font-weight: 700;
    background-color: #1bb51b;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-submit:hover {
    background-color: #4cd137;
}

.list {
    list-style-type: none;
    padding-left: 0;
}

.list > li {
    margin: 5px 0;
}