body {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/106152/euro-coins-currency-money-106152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {

    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(221, 217, 217);

}

.container div {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container div label {
    margin-right: 20px;
}

.container div input {
    width: 250px;
    outline: none;
    border: none;
    border: 1px solid gray;
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 8px;
}

.container .login {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container button {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
}